/**
  This file's styles are imported by @nested-import
  so selectors will be prefixed with dark mode selectors
*/

figcaption a[href],
a[href] {
  color: var(--color-blue-100, #50b2df);
}

a[href].selfRef,
a[href].pilcrow {
  color: #fff;
}

a[href]:hover {
  background-color: transparent;
  text-decoration: underline;
}

.sourcecode pre {
  background-color: #222;
}
