# apparently env vars can override this, used by compromised packages
registry=https://registry.npmjs.org/
strict-ssl=true
save-exact=true
audit=false
# Requires package versions to be N days old before install
# Gives community time to flag malicious publishes
min-release-age=3
# don't allow packages from github:user/repo, git+ssh://, git+https
allow-git=none