name: Build Precomputer Docker Image

on:
  push:
    paths:
      - precomputer/src/**
      - precomputer/package.json
      - precomputer/Dockerfile
      - website/app/utils/validators.ts
  workflow_dispatch:

jobs:
  # -----------------------------------------------------------------
  # BUILD
  # -----------------------------------------------------------------
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 1
        fetch-tags: false

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker Image
      uses: docker/build-push-action@v6
      env:
        DOCKER_BUILD_SUMMARY: false
      with:
        context: .
        file: precomputer/Dockerfile
        platforms: linux/amd64
        push: true
        tags: |
          ghcr.io/ietf-tools/queue-precomputer:latest